name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release --verbose

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/isarchive
          generate_release_notes: true
